<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<div class="center"> <!-- Center content on page -->
<body style="background-color:lightgrey;"> <!-- Defines Background color -->

    <header>
        <img src='/static/media/brain.jpg' width="320" height="200" alt="brain"> <!-- Adds an Image -->
    </header>

    <h1 style="text-align:center;">Choose Pretrained Model to Predict</h1> <!-- Adds a Title -->

    <form action="/upload_ViT" method="post"> <!-- Moves user to Predict Page -->
        <p>Vision Transformer Model (ViT) returns what the predicated image is as text.</p> <!-- Displays the input of Value 1 -->
        <input type="submit" value="ViT"> <!-- Submit button to move user to predict page-->
    </form>

    <form action="/upload_Yolo" method="post"> <!-- Moves user to Model Page -->
        <br><p>Yolo returns the image with predication of what various objects are in bounded boxes.</p> <!-- Displays the input of Value 1 -->
        <input type="submit" value="Yolo"> <!-- Submit button to move user to the model page-->
    </form>
</div>
    
</body>

</html>