<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>model</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<div class="center"> <!-- Center content on page -->
<body style="background-color:lightgrey;"> <!-- Defines Background color -->

    <h2>Predict Image ViT</h2> <!-- Adds a Title -->

    <p>Predication: {{predication_ViT}}</p> <!-- Displays the input of predication_ViT -->

    <form action="/" method="POST"> <!-- Moves user to Home Page -->

        <br><label for="home">Return Home:</label> <!-- Displays text -->

        <input type="submit" value="home"> <!-- Submit button to move user home -->
    </form>        
</div>                

</body>

</html>